.search-bar {
	.field {
		margin-top: 8px;
		padding: 5px;
		width: 44vw;
		display: flex;
		justify-content: center;

		label {
			margin-right: 20px;
		}

		input {
			width: 20vw;
			border: 1px solid lightgray;
			border-radius: 5px;
			height: 25px;
			transform: translateY(-5px);
			font-size: 14px;
			text-indent: 5px;
			background-color: $off-white;
		}
	}
}
