html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
}

.dropdown-all {
  background-color: #ececec;
  width: 15vw;
  margin: 5px 10px;
  border-radius: 5px;
}

.dropdown-all .dropdown-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
}

.dropdown-all .dropdown-bar .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
}

.dropdown-all .dropdown-bar .menu .item:hover {
  background-color: #c9c9c9;
}

.dropdown-all .dropdown-bar .text,
.dropdown-all .dropdown-bar .item {
  font-size: 0.9rem;
  margin-left: 5px;
}

.filters-all {
  margin: 0 20px;
}

.filters-all button {
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
}

.filters-all button:hover {
  background-color: #c9c9c9;
}

.filters-all button i {
  margin-right: 5px;
}

.filters-all .label {
  font-weight: 700;
  font-size: 0.9rem;
}

.filters-all form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.filters-all form.hidden {
  display: none;
}

.filters-all .fetch-btn {
  margin-top: 16px;
}

.filters-all .submit-btn {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: 0 5vw 0 3vw;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column div img {
  width: 30vw;
  margin-top: -4px;
}

.export-btns {
  position: absolute;
  right: 5vw;
  top: 40px;
}

.export-btns button {
  margin-right: 5px;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.export-btns button i {
  color: #ececec;
}

.export-btns button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search-bar .field {
  margin-top: 8px;
  padding: 5px;
  width: 44vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar .field label {
  margin-right: 20px;
}

.search-bar .field input {
  width: 20vw;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 25px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  font-size: 14px;
  text-indent: 5px;
  background-color: #ececec;
}

.search-area {
  border: 1px solid lightgray;
  width: 50vw;
  padding: 10px;
  margin: 20px 25vw;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  align: center;
  background-color: #ececec;
  -webkit-box-shadow: 0 0 2px 0 #ececec;
          box-shadow: 0 0 2px 0 #ececec;
}

@media screen and (max-width: 1088px) {
  .search-area {
    width: 64vw;
    margin: 20px 12vw;
  }
  .search-area .search-bar {
    margin: 0 9vw;
  }
  .search-area .search-bar .field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .search-area .search-bar .field label {
    margin: 0;
  }
  .search-area .search-bar .field input {
    margin-top: 12px;
    width: 45vw;
  }
  .search-area .filters-all {
    margin: 0 8vw;
  }
}

@media screen and (max-width: 650px) {
  .filters-all form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .filters-all .dropdown-all {
    grid-column: span 2;
  }
  .filters-all .dropdown-all .menu {
    width: 45vw;
  }
  .filters-all .fetch-btn,
  .filters-all .submit-btn {
    grid-column: span 1;
    margin-top: 8px;
  }
  .dropdown-all {
    width: 45vw;
  }
  .export-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 5vw;
  }
}

@media screen and (max-width: 420px) {
  .filters-all form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .filters-all .dropdown-all,
  .filters-all .fetch-btn,
  .filters-all .submit-btn {
    grid-column: span 1;
  }
  .export-btns {
    right: 4vw;
  }
  .export-btns button {
    margin-right: 0;
  }
}

@media print {
  .search-bar {
    display: none;
  }
  .export-btns {
    display: none;
  }
  .search-area {
    display: none;
  }
  .image-list img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
