html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.image-list {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1px;
  /* grid-auto-columns: 1px; */
}

.image-list img {
  width: 28vw;
}

.search-bar {
  border: 1px solid lightgray;
  width: 50vw;
  padding: 10px;
  margin: 20px 25vw;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar .field {
  margin-top: 8px;
  padding: 5px;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar .field label {
  margin-right: 20px;
}

.search-bar .field input {
  width: 25vw;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 25px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  font-size: 14px;
  text-indent: 5px;
}
